	<p >&nbsp; </p>
	<p >&nbsp; </p>



		<div class="container">
				<% if(flash&& flash.err) { %>
					<ul class="alert alert-success">
					<% Object.keys(flash.err).forEach(function(error){ %>
						<li> <%- JSON.stringify(flash.err[error]) %></li>
						<% }) %>
					</ul>
				<% } %>

			<form method="POST" class="form-signin" action="/session/create">
				
			<h1 class="form-signin-heading"> Inicio de Sesion</h1>
			
				
		

				 <label>Username</label>
				 <input type="text"   id="email"  class="form-control" name='email' placeholder="Enter Email" />

				
				<label>Password</label>
				<input type="password"  name='password'  class="form-control"id="password"placeholder="Enter Password"  />

				 <input type="submit" class="btn btn-lg btn-primary btn-block" value"Registrar"/>
 				 <input type="hidden" name="_csrf" value="<%= _csrf %>"/>


			
		
			</form>
		</div>