			<p >&nbsp; </p>
			<p >&nbsp; </p>
	<div class="container">
			<form method="POST" class="form-signin" action="/user/create">

				<% if(flash && flash.err) { %>
					<ul class="alert alert-success">
					<% Object.keys(flash.err).forEach(function(error){ %>
						<li> <%- JSON.stringify(flash.err[error]) %></li>
						<% }) %>
				</ul>
				<% } %>
			
					<h2 class="form-signin-heading">Registrarse</h2>
						 <label>Username</label>
						 <input type="text"   id="username"  class="form-control" name='username' placeholder="Enter Username" />

				
						<label>Password</label>
						<input type="password"  name='password'  class="form-control"id="password"placeholder="Enter Password"  />

						<label >Confirmation</label>
						<input type="password"   class="form-control" name='confirmation' id="confirmation" placeholder="Password Confirmation"  />

						 <label for="email">Email address</label>
						 <input type="email"  class="form-control" name="email" id="email" placeholder="Enter Email"  />
					

					
						 <label for="name">Name</label>
						 <input type="text"  id="name" name="name" class="form-control" placeholder="Enter Name"   />
					

				
						 <label for="last_name">Last Name</label>
						 <input type="text" name= "last_name"  class="form-control" id="last_name" placeholder="Enter Last Name"   />
				

					
						 <label for="age">age</label>
						 <input  type="number"  name="age"  class="form-control" id="age" placeholder="Enter Age"  size"3"  />
					

				
						 <label for="country">Country</label>
						 <input type="text"  name="country"  class="form-control" id="country" placeholder="Enter Country"  />
					

				
						 <label for="genere">Genere</label>
						 <!--<input type="text" class="form-control" name="genere" id="genere" placeholder="Enter Genere"  />-->
						 <select   name="genere" >
					       <option value="M" selected>M</option>
					       <option value="F">F</option>
	      				</select>
				

						 <input type="submit" class="btn btn-lg btn-primary btn-block" value"Registrar"/>
 						 <input type="hidden" name="_csrf" value="<%= _csrf %>"/>
			
			
			
			</form>
	</div>